In [1]:
import pandas as pd
import numpy as np
import tabula

C:\Users\Usuario\AppData\Local\Temp\ipykernel_8692\3008533230.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
pdf = "../Inputs/Docs2LaFavorita/flujo.pdf"

In [3]:
firstPage = tabula.read_pdf(pdf, pages=1, area=(99,20, 816, 573), lattice=True, output_format="dataframe",encoding='latin-1')
second = tabula.read_pdf(pdf, pages=2, area=(20,20,525,575), lattice=True, output_format="dataframe",encoding='latin-1')
Header = tabula.read_pdf(pdf, pages=1, area=(19,20,101,574), lattice=True, output_format="dataframe",encoding='latin-1')

Error importing jpype dependencies. Fallback to subprocess.
No module named 'jpype'

In [4]:
daf1 = firstPage[0]
daf2 = second[0]
dafHeader = Header[0]

In [5]:
daf1.head(8)

,ESTADO DE FLUJO EFECTIVO POR EL MÉTODO DIRECTO,Unnamed: 1,Unnamed: 2
0,CUENTA,CÓDIGO,SALDOS BALANCE (En USD$)
1,INCREMENTO NETO (DISMINUCIÓN) EN EL EFECTIVO Y...,95,-31285415.65
2,FLUJOS DE EFECTIVO PROCEDENTES DE (UTILIZADOS ...,9501,258073000.00
3,CLASES DE COBROS POR ACTIVIDADES DE OPERACIÓN,950101,3518346000.00
4,COBROS PROCEDENTES DE LAS VENTAS DE BIENES Y P...,95010101,3518346000.00
5,"COBROS PROCEDENTES DE REGALÍAS, CUOTAS, COMISI...",95010102,0.00
6,COBROS PROCEDENTES DE CONTRATOS MANTENIDOS CON...,95010103,0.00
7,"COBROS PROCEDENTES DE PRIMAS Y PRESTACIONES, A...",95010104,0.00

In [6]:
daf1.rename(inplace=True, columns={"ESTADO DE FLUJO EFECTIVO POR EL MÉTODO DIRECTO":"CUENTA",
                                "Unnamed: 1":"CODS", "Unnamed: 2":"SALDOS BALANCE EN USD"})

daf1.drop(["CODS"], axis=1, inplace=True)
daf1.head(8)

                                              CUENTA     SALDOS BALANCE EN USD
0                                             CUENTA  SALDOS BALANCE (En USD$)
1  INCREMENTO NETO (DISMINUCIÓN) EN EL EFECTIVO Y...              -31285415.65
2  FLUJOS DE EFECTIVO PROCEDENTES DE (UTILIZADOS ...              258073000.00
3      CLASES DE COBROS POR ACTIVIDADES DE OPERACIÓN             3518346000.00
4  COBROS PROCEDENTES DE LAS VENTAS DE BIENES Y P...             3518346000.00
5  COBROS PROCEDENTES DE REGALÍAS, CUOTAS, COMISI...                      0.00
6  COBROS PROCEDENTES DE CONTRATOS MANTENIDOS CON...                      0.00
7  COBROS PROCEDENTES DE PRIMAS Y PRESTACIONES, A...                      0.00

In [7]:
daf1.drop([0],inplace=True)
daf1.head(8)

                                              CUENTA SALDOS BALANCE EN USD
1  INCREMENTO NETO (DISMINUCIÓN) EN EL EFECTIVO Y...          -31285415.65
2  FLUJOS DE EFECTIVO PROCEDENTES DE (UTILIZADOS ...          258073000.00
3      CLASES DE COBROS POR ACTIVIDADES DE OPERACIÓN         3518346000.00
4  COBROS PROCEDENTES DE LAS VENTAS DE BIENES Y P...         3518346000.00
5  COBROS PROCEDENTES DE REGALÍAS, CUOTAS, COMISI...                  0.00
6  COBROS PROCEDENTES DE CONTRATOS MANTENIDOS CON...                  0.00
7  COBROS PROCEDENTES DE PRIMAS Y PRESTACIONES, A...                  0.00
8          OTROS COBROS POR ACTIVIDADES DE OPERACIÓN                  0.00

In [8]:
daf2.head(7)

,ESTADO DE FLUJO EFECTIVO POR EL MÉTODO DIRECTO,Unnamed: 1,Unnamed: 2
0,CUENTA,CÓDIGO,SALDOS BALANCE (En USD$)
1,IMPORTES PROCEDENTES DE SUBVENCIONES DEL GOBIERNO,950307,0.00
2,DIVIDENDOS PAGADOS,950308,-48590000.00
3,INTERESES RECIBIDOS,950309,0.00
4,OTRAS ENTRADAS (SALIDAS) DE EFECTIVO,950310,-13321000.00
5,EFECTOS DE LA VARIACION EN LA TASA DE CAMBIO S...,9504,0.00
6,EFECTOS DE LA VARIACIÓN EN LA TASA DE CAMBIO S...,950401,0.00

In [9]:
daf2.rename(inplace=True, columns={"ESTADO DE FLUJO EFECTIVO POR EL MÉTODO DIRECTO":"CUENTA",
                                "Unnamed: 1":"CODS", "Unnamed: 2":"SALDOS BALANCE EN USD"})

daf2.drop(["CODS"], axis=1, inplace=True)
daf2.drop([0],inplace=True)
daf2.head(8)

                                              CUENTA SALDOS BALANCE EN USD
1  IMPORTES PROCEDENTES DE SUBVENCIONES DEL GOBIERNO                  0.00
2                                 DIVIDENDOS PAGADOS          -48590000.00
3                                INTERESES RECIBIDOS                  0.00
4               OTRAS ENTRADAS (SALIDAS) DE EFECTIVO          -13321000.00
5  EFECTOS DE LA VARIACION EN LA TASA DE CAMBIO S...                  0.00
6  EFECTOS DE LA VARIACIÓN EN LA TASA DE CAMBIO S...                  0.00
7  INCREMENTO (DISMINUCIÓN) NETO DE EFECTIVO Y EQ...          -31285415.65
8  EFECTIVO Y EQUIVALENTES AL EFECTIVO AL PRINCIP...           78526171.63

In [10]:
print(daf1.info())
print(daf2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 1 to 49
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CUENTA                 49 non-null     object
 1   SALDOS BALANCE EN USD  49 non-null     object
dtypes: object(2)
memory usage: 916.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 1 to 33
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CUENTA                 33 non-null     object
 1   SALDOS BALANCE EN USD  33 non-null     object
dtypes: object(2)
memory usage: 660.0+ bytes
None

In [11]:
dafData = pd.concat([daf1, daf2])

- CONVERTIR EL dafData al formato de columna y 1 fila con los saldos

In [12]:
dafData

                                               CUENTA SALDOS BALANCE EN USD
1   INCREMENTO NETO (DISMINUCIÓN) EN EL EFECTIVO Y...          -31285415.65
2   FLUJOS DE EFECTIVO PROCEDENTES DE (UTILIZADOS ...          258073000.00
3       CLASES DE COBROS POR ACTIVIDADES DE OPERACIÓN         3518346000.00
4   COBROS PROCEDENTES DE LAS VENTAS DE BIENES Y P...         3518346000.00
5   COBROS PROCEDENTES DE REGALÍAS, CUOTAS, COMISI...                  0.00
..                                                ...                   ...
29  INCREMENTO  (DISMINUCIÓN) EN CUENTAS POR PAGAR...           39944000.00
30  INCREMENTO  (DISMINUCIÓN) EN OTRAS CUENTAS POR...          -62025000.00
31  INCREMENTO  (DISMINUCIÓN) EN BENEFICIOS EMPLEADOS                  0.00
32  INCREMENTO  (DISMINUCIÓN) EN ANTICIPOS DE CLIE...           24327000.00
33         INCREMENTO  (DISMINUCIÓN) EN OTROS PASIVOS            2697000.00

[82 rows x 2 columns]

In [13]:
texto = dafData["CUENTA"].to_list()
valores_list = dafData["SALDOS BALANCE EN USD"].to_list()

In [14]:
valores = np.array(valores_list).reshape(1,-1)
df2=pd.DataFrame(valores, columns=texto)

In [15]:
df2

,"INCREMENTO NETO (DISMINUCIÓN) EN EL EFECTIVO Y EQUIVALENTES AL EFECTIVO, ANTES DEL EFECTO DE LOS CAMBIOS",FLUJOS DE EFECTIVO PROCEDENTES DE (UTILIZADOS EN) ACTIVIDADES DE OPERACIÓN,CLASES DE COBROS POR ACTIVIDADES DE OPERACIÓN,COBROS PROCEDENTES DE LAS VENTAS DE BIENES Y PRESTACIÓN DE SERVICIOS,"COBROS PROCEDENTES DE REGALÍAS, CUOTAS, COMISIONES Y OTROS INGRESOS DE ACTIVIDADES ORDINARIAS",COBROS PROCEDENTES DE CONTRATOS MANTENIDOS CON PROPÓSITOS DE INTERMEDIACIÓN O PARA NEGOCIAR,"COBROS PROCEDENTES DE PRIMAS Y PRESTACIONES, ANUALIDADES Y OTROS BENEFICIOS DE PÓLIZAS SUSCRITAS",OTROS COBROS POR ACTIVIDADES DE OPERACIÓN,CLASES DE PAGOS POR ACTVIDADES DE OPERACIÓN,PAGOS A PROVEEDORES POR EL SUMINISTRO DE BIENES Y SERVICIOS,...,(INCREMENTO) DISMINUCIÓN EN CUENTAS POR COBRAR CLIENTES,(INCREMENTO) DISMINUCIÓN EN OTRAS CUENTAS POR COBRAR,(INCREMENTO) DISMINUCIÓN EN ANTICIPOS DE PROVEEDORES,(INCREMENTO) DISMINUCIÓN EN INVENTARIOS,(INCREMENTO) DISMINUCIÓN EN OTROS ACTIVOS,INCREMENTO (DISMINUCIÓN) EN CUENTAS POR PAGAR COMERCIALES,INCREMENTO (DISMINUCIÓN) EN OTRAS CUENTAS POR PAGAR,INCREMENTO (DISMINUCIÓN) EN BENEFICIOS EMPLEADOS,INCREMENTO (DISMINUCIÓN) EN ANTICIPOS DE CLIENTES,INCREMENTO (DISMINUCIÓN) EN OTROS PASIVOS
0,-31285415.65,258073000.00,3518346000.00,3518346000.00,0.00,0.00,0.00,0.00,-3195253000.00,-2835719000.00,...,-24819000.00,0.00,0.00,-94696000.00,-26400000.00,39944000.00,-62025000.00,0.00,24327000.00,2697000.00

In [16]:
dafHeader

,Unnamed: 0,RAZÓN SOCIAL,CORPORACION FAVORITA C.A.
0,DIRECCIÓN,AV.ELOY ALFARO Y AVIGIRAS No. N52-468 BARRIO:,NaN
1,EXPEDIENTE,384,NaN
2,RUC,1790016919001,NaN
3,AÑO,2022,NaN
4,FORMULARIO,SCV.NIIF.384.2022.1,NaN

In [17]:
dafHeader.rename(inplace=True, columns={"Unnamed: 0":"RAZÓN SOCIAL",
                                "RAZÓN SOCIAL":"CORPORACION FAVORITA C.A.", "CORPORACION FAVORITA C.A.":"NULLISHCOMLUN"})

dafHeader.drop(["NULLISHCOMLUN"], axis=1, inplace=True)
dafHeader

  RAZÓN SOCIAL                      CORPORACION FAVORITA C.A.
0    DIRECCIÓN  AV.ELOY ALFARO Y AVIGIRAS No. N52-468 BARRIO:
1   EXPEDIENTE                                            384
2          RUC                                  1790016919001
3          AÑO                                           2022
4   FORMULARIO                            SCV.NIIF.384.2022.1

In [18]:
with pd.ExcelWriter("../Outputs/Docs2LaFavorita/Flujo/InfoFlujp.xlsx", engine="xlsxwriter") as writer:
    dafHeader.to_excel(writer, sheet_name="Encabezado", index=False)
    df2.to_excel(writer, sheet_name="Datos", index=False)